<div id="yyadmin_content_breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index">{{yy.lang.coach.management}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{yy.lang.coach.list}}</li>
        </ol>
    </nav>
</div>

<div id="yyadmin_content_main" class="yyadmin-content-main">
    <div class="component-body">
        <div class="rule-content">
            <form class="form rule-config" novalidate="true">

                <div class="rule-config-line">
                    <div class="rule-block rule-All-block">
                        <div class="rule-bar">
                            <label class="left" for=""><span class="red">*</span>{{yy.lang.coach.headIcon}}：</label>
                            <div class="selectImg">
                                
                                <img name='headIcon' style=" opacity: 1"/>
                            </div>
                            
                            <div class="clear"></div>
                        </div>
                        <div class="rule-bar">
                            <label class="left" for=""><span class="red">*</span>{{yy.lang.coach.name}}：</label>
                            <label  class="middle-input left" type="text" name="name" value="" placeholder="請輸入種類名稱"/>
                            <div class="clear"></div>
                        </div>

                        <div class="rule-bar">
                            <label class="left" for=""><span class="red">*</span>{{yy.lang.coach.gender}}：</label>
                            <label type="radio" class="radio" id="radioA" name="gender" checked value="1"/>
                            <div class="clear"></div>
                        </div>

                        <div class="rule-bar">
                            <label class="left" for=""><span class="red">*</span>{{yy.lang.coach.phone}}：</label>
                           <label  class="middle-input left" type="text" name="phone" value="" placeholder="請輸入手機號"/>
                            <div class="clear"></div>
                        </div>
                        
                        <div class="rule-bar">
                            <label class="left" for=""><span class="red">*</span>{{yy.lang.coach.specialSkill}}：</label>
                            <label  class="middle-input left" type="text" name="specialSkill" value="" placeholder="請輸入擅長項目"/>
                            <div class="clear"></div>
                        </div>

                        

                       

                        <div class="rule-bar">
                            <label class="left" for=""><span class="red">*</span>{{yy.lang.coach.describe}}：</label>
                            <label  class="middle-input left" type="text" name="describe" value="" placeholder="請輸入擅長項目"/>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>



               
            </form>
        </div>
    </div>
</div>